.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 2rem;
    margin-right: 2rem;
}


.para {
    transform: translatex(-40px);
}

@media screen and (max-width:450px) {
    .wrapper {
        display: flex;
        flex-direction: column;
    }

    input {
        display: none;
    }

    .button_submit {
        display: none;
    }

    .Newsletter {
        display: none;
    }

    .para {
        transform: translatex(0px);
    }
}